<div ng-controller='pull_code_ctrl'>
    <div class="alert alert-warning" role="alert">    
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    项目组名 </span>
        </div>
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    输入自定义yml </span>
        </div>
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    操作 </span>
        </div>
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    所花时长(秒)</span>
        </div>
        <br/>
    </div>
    <div class="col-md-12 column"></div>
	<div class="col-md-12 column alert alert-info" role="alert">
        <div class="col-md-3 column">
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;((project_group.pro_group_name))</h4>
        <br/>
        </div>
        <div class="col-md-3 column">
            <input class="form-control" ng-model='cos_yml'>
        </div>
        <div class="col-md-3 column">
            <div class="col-md-2 column"></div>
            <button class="btn btn-primary ((pull_show))" ng-click="yml_exe(project_group, cos_yml)">执行yml</button>
        </div>
        <div class="col-md-3 column">
            <div class="col-md-3 column"></div>
            <span ng-show="cost_time[i.pro_name]">共耗时 ((cost_time[i.pro_name]))</span>
        </div>
    </div>
    <div class="col-md-12 column alert alert-warning" role="alert">    
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    yml列表 </span>
        </div>
        <div class="col-md-9 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;    yml说明 </span>
        </div>
        <br/>
    </div>
    <div class="col-md-12 column alert alert-success" role="alert" ng-init="search_yml()">    
        <div ng-repeat="i in yml_set">
            <div class="col-md-3 column">
                <span>&nbsp;&nbsp;((i[0]))</span>
            </div>
            <div class="col-md-9 column">
                <span>&nbsp;&nbsp;((i[1]))</span>
            </div>
        <br/>
        </div>
    </div>
    <div class="col-md-12 column" ng-show="wait_flag">
	<span>((wait_msg))</span>
        <img ng-src="../../static/images/loading3.gif"  alt="" />
    </div>
    <div class="col-md-12 column">
	<span>返回结果:</span>
	<br/>
	<textarea rows="5"  class="form-control" readonly="readonly">((simple_log))</textarea>
    </div>
    <br/>
    <br/>
    <div class="col-md-12 column">
        <div class="col-md-6 column">
	        <span>返回细节:</span>
	        <br/>
	        <textarea rows="10"  class="form-control" readonly="readonly">((complex_log))</textarea>
	    <br/>
        </div>
        <div class="col-md-6 column">
	        <span>错误日志:</span>
	        <br/>
	        <textarea rows="10"  class="form-control" readonly="readonly">((error_log))</textarea>
	    <br/>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
